.filters {
    display: flex;
    flex-direction: column;

     &__wrapper {
        padding: 10px;
     }

     &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__items {
        display:  flex;
        flex-direction: row;
    }
    
     
}